<html>

<head>
  <title>layoutsフォルダを見て</title>
</head>

<body>
  こうやって、一つのレイアウトを作ることができる<br/>
  sanbika.jp を作る時に、このレイアウトを作って、var classes = []; とかを<br/>
  ここに打ち込めばいいかもしれない

  <%= yield %>

</body>
  </html>
